@font-face {
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 300;
    src: url("font/FontsFree-Net-SFProText-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: 'SF Pro semiBold';
    font-style: normal;
    font-weight: 300;
    src: url("font/FontsFree-Net-SFProDisplay-Semibold.ttf") format("truetype");
  }
.back{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 45.8vh;
    background: #DE4B4B 0% 0% no-repeat padding-box;
    opacity: 1;
}
@media only screen and (min-width: 1024px){
    .back{
        width: 352px;
        height: 596px;
        position: absolute;
    }
}
.text{
    top: 40px;
    left: 125px;
    width: 107px;
    height: 16px;
    text-align: center;
    font: 13px Verdana;
    letter-spacing: -0.01px;
    color: #FFFFFF;
    opacity: 1;
    position: absolute;
}
@media only screen and (min-width: 1024px){
    .text{
        top: 53px;
        left: 90px;
        width: 186px;
        height: 16px;
        text-align: left;
        font: 13px Verdana;
        letter-spacing: -0.01px;
        color: #FFFFFF;
        opacity: 1;
    }
}
.icon{
    top: 86px;
    left: 70px;
    width: 40px;
    height: 40px;
    background: transparent url('img/Group1600.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}
@media only screen and (min-width: 1024px){
    .icon{
    top: 122px;
    left: 64px;
    width: 50px;
    height: 50px;
    background: transparent url('img/Group1977.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    }
}
.title{
    top: 86px;
    left: 125px;
    width: 165px;
    height: 39px;
    text-align: left;
    font: Bold 16px Verdana;
    letter-spacing: -0.01px;
    color: #FFFFFF;
    opacity: 1;
    position: absolute;
}
@media only screen and (min-width: 1024px){
    .title{
    top: 123px;
    left: 129px;
    width: 207px;
    height: 48px;
    text-align: left;
    font: Bold 20px Verdana;
    letter-spacing: -0.01px;
    color: #FFFFFF;
    opacity: 1;
    }
}
.card1{
    top: 141px;
    left: 40px;
    width: 280px;
    height: 172px;
    background: transparent url('img/Group1601.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    position:absolute;
}
@media only screen and (min-width: 1024px){
    .card1{
        top: 202px;
    left: 64px;
    width: 365px;
    height: 224px;
    background: transparent url('img/Group 1735.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    }
}
.number_card{
    top: 219px;
    left: 54px;
    width: 252px;
    height: 23px;
    text-align: left;
    font: 19px SF Pro Text;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-shadow: 0px 1px 2px #000000B3;
    opacity: 1;
    position: absolute;
}
@media only screen and (min-width: 1024px){
    .number_card{
        top: 306px;
        left: 91px;
        width: 314px;
        height: 29px;
        text-align: left;
        font: 24px SF Pro Text;
        letter-spacing: -0.12px;
        color: #FFFFFF;
        text-shadow: 0px 1px 2px #000000B3;
        opacity: 1;
    }
}
.holder_name p{
    top: 268px;
    left: 54px;
    width: 111px;
    height: 14px;
    text-align: left;
    font:12px SF Pro Text;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-shadow: 0px 1px 2px #000000B3;
    opacity: 1;
    position: absolute;
}
@media only screen and (min-width: 1024px){
    .holder_name p{
        top: 369px;
        left: 91px;
        width: 148px;
        height: 19px;
        text-align: left;
        font: 16px SF Pro Text;
        letter-spacing: 0px;
        color: #FFFFFF;
        text-shadow: 0px 1px 2px #000000B3;
        opacity: 1;
    }
}
.expiration_date p{
    top: 268px;
    left: 272px;
    width: 34px;
    height: 14px;
    text-align: right;
    font: 12px SF Pro Text;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-shadow: 0px 1px 2px #000000B3;
    opacity: 1;
    position: absolute;
}
@media only screen and (min-width: 1024px){
    .expiration_date p{
        top: 369px;
        left: 360px;
        width: 46px;
        height: 19px;
        text-align: right;
        font: 16px SF Pro Text;
        letter-spacing: 0px;
        color: #FFFFFF;
        text-shadow: 0px 1px 2px #000000B3;
        opacity: 1;
    }
}
.label--cardNumber{
    top: 353px;
    padding-bottom: 5px;
    left: 40px;
    height: 21px;
    text-align: left;
    font: 17px Verdana;
    letter-spacing: 0px;
    color: #C9C9C9;
    opacity: 1;
    transform-origin: top left;
    transform: translate(0, 0) scale(1);
    transition: all .1s ease-in-out;
    position: absolute;
}
@media only screen and (min-width: 1024px){
    .label--cardNumber{
        top: 143px;
        left: 520px;
        width: 155px;
        height: 21px;
        text-align: left;
        font: 17px Verdana;
        letter-spacing: 0px;
        color: #C9C9C9;
        opacity: 1;
    }
}
.input--cardNumber{
    top: 353px;
    left: 40px;
    width: 280px;
    height: 21px;
    text-align: left;
    font: 17px Verdana;
    letter-spacing: 0px;
    opacity: 0.5;
    position: absolute;
    border-bottom: 1px solid #c9c9c9;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}
@media only screen and (min-width: 1024px){
    .input--cardNumber{
        top: 143px;
        left: 520px;
        width: 440px;
        height: 21px;
        text-align: left;
        font: 17px Verdana;
        letter-spacing: 0px;
        opacity: 0.5;
        border-bottom: 1px solid #c9c9c9;
        border-left: 0;
        border-right: 0;
        border-top: 0;
    }
}
.form .active{
    transform: translate(0, -20px) scale(.75);
}
.label--holderName{
    text-align: left;
    font: 17px Verdana;
    letter-spacing: 0px;
    color: #C9C9C9;
    opacity: 1;
    top: 423px;
    left: 40px;
    width: 199px;
    height: 21px;
    position: absolute;
    padding-bottom: 5px;
    transform-origin: top left;
    transform: translate(0, 0) scale(1);
    transition: all .1s ease-in-out;
}
@media only screen and (min-width: 1024px){
    .label--holderName{
        top: 231px;
        left: 520px;
        width: 199px;
        height: 21px;
        text-align: left;
        font: 17px Verdana;
        letter-spacing: 0px;
        color: #C9C9C9;
        opacity: 1;
    }
}
.input--holderName{
    text-align: left;
    font: 17px Verdana;
    letter-spacing: 0px;
    top: 423px;
    left: 40px;
    width: 280px;
    height: 21px;
    opacity: 0.5;
    position: absolute;
    border-bottom: 1px solid #c9c9c9;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}
@media only screen and (min-width: 1024px){
    .input--holderName{
        top: 231px;
        left: 520px;
        width: 440px;
        height: 21px;
        text-align: left;
        font: 17px Verdana;
        letter-spacing: 0px;
        opacity: 0.5;
        border-bottom: 1px solid #c9c9c9;
        border-left: 0;
        border-right: 0;
        border-top: 0;
    }
}
.label--expirationDate{
    top:493px;
    left: 40px;
    width: 72px;
    height: 21px;
    text-align: left;
    font: 17px Verdana;
    letter-spacing: 0px;
    color: #C9C9C9;
    opacity: 1;
    position: absolute;
    transform-origin: top left;
    transform: translate(0, 0) scale(1);
    transition: all .1s ease-in-out;
}
@media only screen and (min-width: 1024px){
    .label--expirationDate{
        top: 319px;
        left: 520px;
        width: 73px;
        height: 21px;
        text-align: left;
        font: 17px Verdana;
        letter-spacing: 0px;
        color: #C9C9C9;
        opacity: 1;
    }
}
.input--expirationDate{
    top:493px;
    left: 40px;
    width: 135px;
    height: 21px;
    text-align: left;
    font: 17px Verdana;
    letter-spacing: 0px;
    opacity: 0.5;
    position: absolute;
    border-bottom: 1px solid #c9c9c9;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}
@media only screen and (min-width: 1024px){
    .input--expirationDate{
        top: 319px;
        left: 520px;
        width: 212px;
        height: 21px;
        text-align: left;
        font: 17px Verdana;
        letter-spacing: 0px;
        opacity: 0.5;
        border-bottom: 1px solid #c9c9c9;
        border-left: 0;
        border-right: 0;
        border-top: 0;
    }
}
.label--cvv{
    top: 493px;
    left: 185px;
    width: 35px;
    height: 21px;
    text-align: left;
    font: 17px Verdana;
    letter-spacing: 0px;
    color: #C9C9C9;
    opacity: 1;
    position: absolute;
    transform-origin: top left;
    transform: translate(0, 0) scale(1);
    transition: all .1s ease-in-out;
}
@media only screen and (min-width: 1024px){
    .label--cvv{
        top: 319px;
        left: 748px;
        width: 36px;
        height: 21px;
        text-align: left;
        font: 17px Verdana;
        letter-spacing: 0px;
        color: #C9C9C9;
        opacity: 1;
    }
}
.input--cvv{
    top: 493px;
    left: 185px;
    width: 135px;
    height: 21px;
    text-align: left;
    font: 17px Verdana;
    letter-spacing: 0px;
    opacity: 0.5;
    position: absolute;
    border-bottom: 1px solid #c9c9c9;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}
@media only screen and (min-width: 1024px){
    .input--cvv{
        top: 319px;
        left: 748px;
        width: 216px;
        height: 21px;
        text-align: left;
        font: 17px Verdana;
        letter-spacing: 0px;
        border-bottom: 1px solid #c9c9c9;
        border-left: 0;
        border-right: 0;
        border-top: 0;
    }
}
.label--parcelNumber{
    top: 563px;
    left: 40px;
    width: 172px;
    height: 21px;
    text-align: left;
    font: 17px Verdana;
    letter-spacing: 0px;
    color: #C9C9C9;
    opacity: 0.5;
    position: absolute;
    transform-origin: top left;
    transform: translate(0, 0) scale(1);
    transition: all .1s ease-in-out;
}
@media only screen and (min-width: 1024px){
    .label--parcelNumber{
        top: 407px;
        left: 520px;
        width: 172px;
        height: 21px;
        text-align: left;
        font: 17px Verdana;
        letter-spacing: 0px;
        color: #C9C9C9;
        opacity: 1;
    }
}
.input--parcelNumber{
    top: 563px;
    left: 40px;
    width: 280px;
    height: 21px;
    text-align: left;
    font: 17px Verdana;
    letter-spacing: 0px;
    opacity: 0.5;
    position: absolute;
    border-bottom: 1px solid #c9c9c9;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    background-color: transparent;
}
@media only screen and (min-width: 1024px){
    .input--parcelNumber{
        top: 407px;
        left: 520px;
        width: 440px;
        height: 21px;
        text-align: left;
        font: 17px Verdana;
        letter-spacing: 0px;
        opacity: 0.5;
        border-bottom: 1px solid #c9c9c9;
        border-left: 0;
        border-right: 0;
        border-top: 0;
        background-color: transparent;
    }
}
.arrow_down{
    top: 566px;
    left: 300px;
    width: 20px;
    height: 16px;
    background: transparent url('img/Group 498.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}
@media only screen and (min-width: 1024px){
    .arrow_down{
    top: 410px;
    left: 940px;
    width: 20px;
    height: 16px;
    background: transparent url('img/Group 498.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    }
}

.opacity{
    opacity: 1;
}
.button{
    position: absolute;
    text-align: center;
    font: 17px SF Pro semiBold;
    letter-spacing: -0.01px;
    text-decoration: none !important;
    color: #FFFFFF !important;
    opacity: 1;
    top: 634px;
    left: 40px;
    width: 280px;
    padding: 16px 0;   
    background: #DE4B4B 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    margin-bottom: 40px;
}
@media only screen and (min-width: 1024px){
    .button{
        top: 495px;
        left: 714px;
        width: 246px;
        height: 51px;
        }
}
.cardNumber_alert{
    top: 381px;
    left: 39px;
    width: 147px;
    height: 13px;
    text-align: left;
    font: 11px Verdana;
    color: #EB5757;
    opacity: 1;
    position: absolute;
}
@media only screen and (min-width: 1024px){
    .cardNumber_alert{
        top: 174px;
        left: 520px;
        width: 174px;
        height: 16px;
        text-align: left;
        font: 13px Verdana;
        letter-spacing: 0px;
        color: #EB5757;
        opacity: 1;
    }
}
.holderName_alert{
    top: 451px;
    left: 39px;
    width: 144px;
    height: 13px;
    text-align: left;
    font: 11px Verdana;
    letter-spacing: 0px;
    color: #EB5757;
    opacity: 1;
    position: absolute;
}
@media only screen and (min-width: 1024px){
    .holderName_alert{
        top: 262px;
        left: 520px;
        width: 170px;
        height: 16px;
        text-align: left;
        font: 13px Verdana;
        letter-spacing: 0px;
        color: #EB5757;
        opacity: 1;
    }
}
.expirationDate_alert{
    top: 521px;
    left: 39px;
    width: 73px;
    height: 13px;
    text-align: left;
    font: 11px Verdana;
    letter-spacing: 0px;
    color: #EB5757;
    opacity: 1;
    position: absolute;
}
@media only screen and (min-width: 1024px){
    .expirationDate_alert{
        top: 350px;
        left: 520px;
        width: 86px;
        height: 16px;
        text-align: left;
        font: 13px Verdana;
        letter-spacing: 0px;
        color: #EB5757;
        opacity: 1;
    }
}
.cvv_alert{
    top: 521px;
    left: 185px;
    width: 84px;
    height: 13px;
    text-align: left;
    font: 11px Verdana;
    letter-spacing: 0px;
    color: #EB5757;
    opacity: 1;
    position: absolute;
}
@media only screen and (min-width: 1024px){
    .cvv_alert{
        top: 350px;
        left: 748px;
        width: 100px;
        height: 16px;
        text-align: left;
        font: 13px Verdana;
        letter-spacing: 0px;
        color: #EB5757;
        opacity: 1;
    }
}
.parcelNumber_alert{
    top: 591px;
    left: 39px;
    width: 155px;
    height: 13px;
    text-align: left;
    font: 11px Verdana;
    letter-spacing: 0px;
    color: #EB5757;
    opacity: 1;
    position: absolute;
}
@media only screen and (min-width: 1024px){
    .parcelNumber_alert{
        top: 438px;
        left: 520px;
        width: 184px;
        height: 16px;
        text-align: left;
        font: 13px Verdana;
        letter-spacing: 0px;
        color: #EB5757;
        opacity: 1;
    }
}
.logo{
    top: 168px;
    left: 54px;
    width: 53px;
    height: 18px;
    background: transparent url('img/Image1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}
@media only screen and (min-width: 1024px){
    .logo{
    top: 237px;
    left: 91px;
    width: 69px;
    height: 23px;
    background: transparent url('img/Image 1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    }
}
.cvv{
    top: 312px;
    left: 242px;
    width: 35px;
    height: 23px;
    text-align: left;
    font: 19px SF Pro Text;
    letter-spacing: -0.57px;
    color: #3C3C3C;
    opacity: 1;
    position: absolute;
}
.breadCrumb{
    display: none;
}
@media only screen and (min-width: 1024px){
    .breadCrumb{
        display: block;
    }
    .dot{
    top: 50px;
    left: 547px;
    width: 22px;
    height: 22px;
    background: #DE4B4B 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 50%;
    position: absolute;
    }
    .dot p{
        width: 13px;
        height: 10px;
        color: #FFFFFF;
        text-align: center;
        font-size: 16px;
        opacity: 1;
        position: absolute;
        left: 4px;
        top: 4px;
    }
    .car{
    top: 53px;
    left: 577px;
    width: 56px;
    height: 16px;
    text-align: left;
    font: 13px Verdana;
    letter-spacing: -0.01px;
    color: #DE4B4B;
    opacity: 1;
    position: absolute;
    }
    .firstChevron{
    top: 52px;
    left: 657px;
    width: 8px;
    height: 14px;
    color: #DE4B4B; 
    font-size: 22px;
    opacity: 1;
    position: absolute;
    }
    .dot2{
        border-radius: 50%;
        position: absolute;
        top: 50px;
        left: 689px;
        width: 22px;
        height: 22px;
        border: 1px solid #DE4B4B;
        opacity: 1;
    }
    .dot2 p{
        text-align: center;
        font: 16px SF Pro semiBold;
        color: #DE4B4B;
    }
    .payment{
        top: 53px;
        left: 719px;
        width: 73px;
        height: 16px;
        text-align: left;
        font: 13px Verdana;
        letter-spacing: -0.01px;
        color: #DE4B4B;
        opacity: 1;
        position: absolute;
    }
    .secondChevron{
        color: #DE4B4B; 
        font-size: 22px;
        opacity: 1;
        position: absolute;
        top: 52px;
        left: 816px;
        width: 8px;
        height: 14px;
    }
    .dot3{
        border-radius: 50%;
        position: absolute;
        top: 50px;
        left: 848px;
        width: 22px;
        height: 22px;
        border: 1px solid #DE4B4B;
        opacity: 1;
    }
    .dot3 p{
        text-align: center;
        font: 16px SF Pro semiBold;
        color: #DE4B4B;  
    }
    .confirmation{
        top: 53px;
        left: 878px;
        width: 82px;
        height: 16px;
        text-align: left;
        font: 13px Verdana;
        letter-spacing: -0.01px;
        color: #DE4B4B;
        opacity: 1;
        position: absolute;
    }
    .form{
        position: absolute;
    }

}